@model MvcEjercicioPruebas.Models.Pelicula

@{
    ViewData["Title"] = "DetallesPelicula";
}

<h1>DetallesPelicula</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDistribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idNacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idNacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.argumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.argumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.foto" style="height:400px;width:480px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
